@page
@model CollectionSystem.WebApp.Pages.dashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="layout-px-spacing">

    <div class="middle-content container-xxl p-0 text-center pt-5">
        <h1>Welcome</h1>
    </div>
</div>